<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Node Express handlebars Webpack</title>
    <meta name="renderer" content="webkit|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
    <meta name="Keywords" content="Node Express handlebars Webpack">
    <meta name="Description" content="node express hbs(handlebars) webpack demo for server side renderer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
    <div class="container body-content">
        {{{body}}}
        <hr />
        <footer>
            <p>&copy; 2019-Jaylan</p>
        </footer>
    </div>
</body>
</html>