<h2>404 Not Found</h2>

{{!-- 服务端使用partial模板
{{> footer}}
--}}

{{#renderSection 'styles'}}
<!--webpack_style_placeholder-->
{{/renderSection}}
{{#renderSection 'scripts'}}
<!--webpack_script_placeholder-->
{{/renderSection}}