<h2>抱歉，服务器出错了</h2>
<p>{{errorMsg}}</p>

{{#renderSection 'styles'}}
<!--webpack_style_placeholder-->
{{/renderSection}}
{{#renderSection 'scripts'}}
<!--webpack_script_placeholder-->
{{/renderSection}}